<div class="about-main">
  <h2>Study SNSとは?</h2>
  <p>
    Student Sns では勉強の質問や日々の記録を簡単にとることができます。
    勉強の質問は自由な科目で出すことができ、生徒が回答することも可能です。
    先生に直接聞きにくいときは特に効果的でしょう。
    ONLINEで見ている学校の先生が答えてくれるかもしれません。
    回答したのちの評価であなたのユーザーランクが変化します。
  </p>
</div>